<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/">Cookbook</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item text-center">
                        <a class="nav-link" th:href="@{/dishes/all}">All Dishes</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" th:href="@{/dishes/create-dish}">Create Dish</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" th:href="@{/ingredients}">Ingredients</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" th:href="@{/ingredients/create-ingredient}">Create Ingredient</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" th:href="@{/about}">About Cookbook</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
