.card {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.table-success {
    background-color: #ffffff !important;
}

.table-success {
    background-color: #d4edda !important;
}